@import '../../common/styles/utils/_mixins.util'
@import '../../common/styles/utils/_colors.util'

main.page.notfound-page
  background: $dark_white
  text-align: center
  .page-wrapper
    height: 50vh
    @include flex_positioning($ai: center, $jc: center)
  .notfound-number
    font-size: 90px
    color: $app_gray
    font-weight: 400
  .notfound-description
    margin: 2rem
  .redirect-home
    background: $main_white
    border: none
    padding: 0.7rem 1rem
    width: 12rem
    color: $app_gray
    text-transform: uppercase
    border-radius: 3px
    @include flex_positioning(center, space-between)
    margin: auto
    b
      color: $main_clr-1
      margin-top: -3px
      display: block
      width: 2rem
      height: 2rem
      @include flex_positioning($ai: center, $jc: center)
      border-radius: 50%
