@import '../../common/styles/utils/_colors.util'
@import '../../common/styles/utils/_mixins.util'

main.shop-page
    .shop-wrapper
        display: grid
        grid-template-columns: 1fr 5fr
        grid-gap: 1rem
        > section
            width: 100%
            &.shop-prods
@media screen and (max-width: 769px)
    main.shop-page
    .shop-wrapper
        display: block !important
