@import '../../common/styles/utils/_colors.util'
@import '../../common/styles/utils/_mixins.util'

main.shop-page
    display: grid
    grid-template-columns: 20% 80%
    grid-gap: 1rem
    > section
        width: 100%
        &.shop-prods
            padding-right: 1rem

@media screen and (max-width: 769px)
    main.shop-page
        display: block
