@import '../../../../common/styles/utils/_mixins.util'
@import '../../../../common/styles/utils/_colors.util'

header.pre-header
  height: 2.2rem
  background: $main_white
  border-bottom: 1px solid $light_gray
  section
    &.wing
      a,
      button
        color: $app_gray-1
        padding: 0 0.3rem
        &:hover
          color: $additional_clr-1 !important
  button
    background: transparent
    border: none
    margin-top: 1px
  .action-wrapper
    padding: 0 0.8rem
    height: 100%
    @include flex_positioning($ai: center, $jc: center)
    display: inline-flex
    &:not(:first-child)
      border-left: 1px solid #eee2
    a,
    button
      @include flex_positioning($ai: center, $jc: center)
      span
        &.icon
          font-size: 1.2rem
          margin-right: 0.6rem
        &.txt
          font-size: 0.8rem
