@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_mixins.util'

.app-button
    @include flex_positioning(center,center)
    color: $off_white
    font-weight: bold
    border-bottom-width: 4px !important
    padding: 0.2rem
    padding-top: 0.3rem
    padding-right: 0.5rem
    span.value
        font-size: 0.9rem
    span.icon
        font-size: 1.2rem
        padding: 0 0.5rem
        margin-top: 0.2rem
        display: block
