@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_mixins.util'

.app-button
    @include flex_positioning(center,center)
    color: $off_white
    font-weight: bold
    border-bottom-width: 3px !important
    padding: 0.5rem
    border-radius: 6px
    &:active
        transform: scale(0.97)
    span
        padding: 0 0.3rem
        &.value
            font-size: 0.9rem
        &.icon
            font-size: 1.2rem
            margin-top: 0.3rem
            display: block
