@import '../../../common/styles/utils/_mixins.util.sass'
@import '../../../common/styles/utils/_colors.util.sass'

section.feats-banner,
section.declaration-banner
    @include flex_positioning(center, space-around)
    flex-wrap: wrap
    > div
        flex-grow: 1
    .logo-wrapper
        @include flex_positioning($ai: center, $jc: center)
        .logo
            height: 4rem
            width: 7rem
    .link
        @include flex_positioning($ai: center, $jc: center)
        a
            background: $app_white
            border-radius: 10rem
            width: 10rem
            height: 2.8rem
            @include flex_positioning($ai: center, $jc: center)
            font-size: 1rem
            &:hover
                outline: 3px solid #f5f6f555
section
    &.feats-banner
        ul.feats
            @include flex_positioning(center, space-between)
            flex-wrap: wrap
            li
                flex-grow: 1
                @include flex_positioning(center, center)
                margin: 1rem
                padding: 0.4rem
                text-align: center
                &:not(:last-of-type)
                    border-right: 4px solid $app_white
                h4
                    text-transform: none
                    font-weight: Bold
                p
                h4, p
                    color: $main_white
    &.declaration-banner
        margin-top: 2rem
        .logo-wrapper
            .logo
                height: 4rem
                width: 15rem
        .middle-txt
            @include flex_positioning($ai: center, $jc: center)

            h2
                font-weight: bold
                color: $main_white
    &.simple-banner

@media screen and (max-width: 1063px)
    section.feats-banner
        .link
            justify-content: flex-end
            margin-top: 1rem

@media screen and (max-width: 935px)
    section.feats-banner
        .link
            justify-content: center

@media screen and (max-width: 823px)
    section.feats-banner
        ul.feats
            li
                border: none !important

@media screen and (max-width: 570px)
    section.declaration-banner
        .logo-wrapper
        .middle-txt
            h2
                margin-bottom: 2rem
