@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_mixins.util'

.app-footer
  padding-top: 2rem
  margin-top: 5rem
  text-align: center
  a
    &:focus
      outline-width: 2px
  p.reservation
    color: $main_dark
    margin-top: 2rem
    padding: 1rem 0
    background: $dark_white-2
    span.icon
      display: inline-block
      margin-right: 0.1rem
    span
      margin: 0 0.4rem
      a
        color: $additional_clr-1
