@import '../../../../../common/styles/utils/_colors.util'
@import '../../../../../common/styles/utils/_mixins.util'
@import '../../../../../common/styles/utils/_animation.util'

article.categories-lists
  z-index: 30
  text-align: left
  top: 3rem
  left: 0
  cursor: auto
  position: absolute
  background: $main_white
  min-height: 10rem
  @include fade-in
  min-width: 18rem
  z-index: 50
  box-shadow: #00000010 10px 8px 10px -5px
  border-radius: 4px
  // global __
  h6
    text-transform: uppercase
  ul
    @include fade-in
    padding: 0.5rem
    padding-right: 0.4rem
    min-height: 31rem
    li
      @include fade-in
      margin: 0.2rem
      a
        display: block
        width: 100%
        font-size: 0.8rem
        text-align: left
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0.2rem
        color: $alt_dark-2
        &:focus
          outline-width: 2px
        &:hover
          > ul.sub-categories
            display: block
        div
          &:first-of-type
            flex-grow: 1
          &:last-of-type
            width: 2rem
            @include flex_positioning($ai: center, $jc: flex-end)
        p
          white-space: nowrap
          color: $alt_dark-2
        span.count-num
          font-size: 0.7rem
          color: $alt_dark-3
          background: $light_gray
          width: 17px
          height: 17px
          border-radius: 50%
          @include flex_positioning($ai: center, $jc: center)
      &:hover
        > a
          background: $additional_clr-tone
    &.sub-categories
      display: none
      position: absolute
      top: 0
      left: 105%
      background: $main_white
      border-radius: 4px
      &:after
        content: ""
        top: -1px
        bottom: -1px
        left: -1.5rem
        width: 2rem
        background: transparent
        position: absolute

  //__
