@import '../../../../../common/styles/utils/_colors.util'
@import '../../../../../common/styles/utils/_mixins.util'
@import '../../../../../common/styles/utils/_animation.util'

article.categories-list
  z-index: 30
  text-align: left
  top: 3rem
  left: 0
  cursor: auto
  position: absolute
  border: 1px solid $alt_dark-5
  background: $app_white
  border-radius: 3px
  padding: 1.5rem 0
  width: 14rem
  @include fade-in
  z-index: 50
  box-shadow: #00000010 10px 8px 10px -5px
  // global __
  li
    margin: 0.1rem 0
    a
      padding: 0.2rem 0.5rem
      display: block
      width: 100%
    &:hover
      > a
        background: $additional_clr-tone
        text-decoration: underline
  //__
  .list-wrapper
  section.main-categories
    padding: 0 0.9rem
    position: relative
    h6
      text-transform: uppercase
    ul.main-categories-wrapper
      padding-left: 0.1rem
      padding-top: 0.5rem
      li
        &:hover
          ul.sub-categories-wrapper
            display: block
        ul.sub-categories-wrapper
          box-shadow: #0000000c 10px 8px 10px -5px
          animation: fadein cubic-bezier(0.83, -0.15, 0.74, 1.13) 0.5s
          border: 1px solid
          padding: 0.8rem
          top: 0
          bottom: 0
          width: 16rem
          position: absolute
          display: none
          left: 14.2rem
          border: 1px solid $alt_dark-5
          background: $app_white
          border-radius: 3px
          &:after
            content: ""
            left: -2rem
            top: 0
            bottom: 0
            width: 2rem
            background: transparent
            display: block
            position: absolute
