@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_mixins.util'

article.product-decision
    background: $app_white
    padding-bottom: 1rem
    font-size: 0.9rem
