@import './utils/_animation.util'

// setup custome font:
@font-face
  font-family: 'MadeDillan'
  src: url('../../../public/assets/fonts/MADEDillanRegular.ttf') format("truetype"),url('../../../public/assets/fonts/MADEDillanRegular.woff') format("woff")

// gloabls:
main.page
  min-height: 90vh
  @include fade-in
