@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_animation.util'
@import '../../../common/styles/utils/_mixins.util'
@import '../../../common/styles/utils/_fonts.util'

.alert
    position: relative
    margin: 1rem 0
    padding: 0.8rem
    padding-top: 0.6rem
    border-radius: 3px
    border-left-width: 4px !important
    @include from-bottom
    h6.heading
        font-family: $main_font
        font-weight: bold
    p.msg
        padding-left: 0.5rem
    button.alert-closer
        position: absolute
        width: 1.3rem
        height: 1.3rem
        top: 0.4rem
        right: 0.4rem
        @include flex_positioning(center, center)
        padding: 0
        background: none
        border: none
        font-size: 20px
        &:hover
            transform: none
