@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_animation.util'
@import '../../../common/styles/utils/_mixins.util'
@import '../../../common/styles/utils/_fonts.util'

.alert
    position: relative
    margin: 1rem 0
    padding: 0.8rem
    padding-top: 0.6rem
    border-radius: 3px
    border-left-width: 3px !important
    @include from-bottom
    z-index: 10
    min-height: 3rem
    background: $additional_clr-tone
    border: 1px solid $additional_clr-mirr
    h6.heading
        font-family: $main_font
        font-weight: bold
    p.msg
        padding-left: 0.5rem
    .auth-warning
        display: inline-block
        > a
            margin: 0.1rem
            &:hover
                text-decoration: underline
    button.alert-closer
        position: absolute
        width: 1.3rem
        height: 1.3rem
        top: 0.4rem
        right: 0.4rem
        @include flex_positioning(center, center)
        padding: 0
        background: none
        border: none
        font-size: 20px
        &:hover
            transform: none
