@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_animation.util'
@import '../../../common/styles/utils//_mixins.util'

section.prods-category-collection
    position: relative
    border: 1px solid $light_gray
    background: $app_white
    padding: 0.8rem 0.8rem 0.5rem
    border-bottom-width: 3px
    border-radius: 6px
    margin-bottom: 1rem
    padding-bottom: 0
    min-height: 20rem
    header.prods-collection-header
        padding-top: 0.5rem
        h4.collection-title
            text-transform: uppercase
    section.collection-prods
        margin: 1.5rem 0 1rem
        display: grid
        grid-gap: 1.5rem 0.5rem
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr))
