@import '../../../common/styles/utils/_mixins.util'
@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_animation.util'

header.default-header
  background: $app_white
  // global __
  a
    color: $app_gray
    &:hover
      color: $additional_clr !important
  section.user-avatar
    &:before
      top: 6rem
  // __
  .default-header-wrapper
    @include flex_positioning(center, space-between)
    height: 4.5rem
    section
      @include flex_positioning(center, center)
      &.left-wing
        margin-right: 0.1rem
        flex-grow: 1
        justify-content: flex-start
        height: inherit
        .logo
          height: 95%
          width: 13rem
          a
            display: block
            height: inherit
            width: inherit
            background: url('../../../../public/assets/images/logo-light.svg') center/cover
      &.middle-wing
        flex-grow: 5
      &.right-wing
        justify-content: flex-end
        margin-left: 0.1rem
        flex-grow: 1
        ul.routes-list
          a
            font-weight: 400
            text-transform: uppercase
            display: block
            font-size: 0.9rem
        section
          &.main-routes-list
            section.routes-list
              @include flex_positioning(center, flex-end)
              a
                font-size: 0.8rem
                margin: 0 0.6rem
              section.auth-area
                a
                  &:last-child
                    border: 1px solid $additional_clr
                    padding: 0.6rem 0.8rem
                    background: $additional_clr
                    color: $app_white !important
              section.user-actions
                margin-top: 0.2rem
                a
                  font-size: 1.1rem
                  width: 1.5rem
                  height: 1.5rem
                  @include flex_positioning(center, center)
          &.xs-screens-routes-list
            display: none
            ul.routes-list
              text-align: center
              position: fixed
              top: 0
              left: 0
              right: 0
              bottom: 0
              background: $main_white
              padding: 1rem
              border-bottom: 2px solid $alt_dark-3
              z-index: 19
              @include fade-in
              padding-top: 4rem
              .routes-wrapper
                a
                  margin: 1rem 0
                  color: $app_gray
              button.routes-list-closer
                @include flex_positioning(center, center)
                position: absolute
                top: 1rem
                right: 1rem
                font-size: 1.2rem
                padding: 0.1rem 0.4rem
                width: 2rem
                height: 1.5rem
                border: none
                &:hover
                  background: none
                  color: $app_gray
            button.xs-menu-toggler
              border: none
              background: none
              cursor: pointer
              height: 2rem
              width: 2.7rem
              display: block
              &:hover
                background: transparent
              span
                display: block
                width: 30px
                height: 1px
                background: $dark_white
                margin: 7px 0
  header.pre-header,
  header.after-header
    padding: 0 0.5rem
    @include flex_positioning(center, space-between)
    > section
      height: 100%

header.non-expanded-header
  padding-top: 2rem
  margin-bottom: 2rem
  .logo-dark
    height: 6rem
    width: 15rem
    a
      display: block
      height: inherit
      width: inherit
      background: url('../../../../public/assets/images/logo-dark.svg') center/cover

@media screen and (max-width: 992px)
  header.default-header
  header.after-header,
  section.middle-wing,
  section.main-routes-list
    display: none !important
  section
    &.xs-screens-routes-list
      display: flex !important

@media screen and (max-width: 769px)
  header.default-header
    header.pre-header
      display: none !important
