// colors and trans:

  /* CHANGE AND MOVE THINGS AROUND IN THIS FILE WHILE OYU ARE WORKING...  */

// app colors AKA, APP IDENTITY::
// #4b6483
$main_clr: #35475d
$main_clr-1: #4b6483
$main_clr-2: #475566
$additional_clr: #d39e5f
$additional_clr-1: #e0b989
$additional_clr-2: #c48232
$main_clr-hover: #3e5470
$main_clr-dark: #4b6483
$main_clr-mirr: #7e99b9
$main_clr-tone: #d8e4f1
$additional_clr-tone: #faeddb
$additional_clr-mirr: #e9c8a1

$main_clr-grad-1: linear-gradient(to right, #7e99b9, #e9c8a1)
$additional_clr-grad-1: linear-gradient(to right, #e9c8a1, #7e99b9)
$main_clr-grad-2: linear-gradient(to right, #7e99b9, #5a7391)
$additional_clr-grad-2: linear-gradient(to right, #e9c8a1, #d3a063)

// COLORS GRADS::
// basic:
$main_white: #fff
$main_dark: #111

// rest of darks `grays`:
$app_gray: #575e63
$app_gray-2: #818588
$dark_gray: #373d41
$alt_dark: #1e1f20
$alt_dark-2: #303235
$alt_dark-3: #82868d
$alt_dark-4: #ddd
$alt_dark-5: #ccc
$alt_dark-6: #999999
$light_gray: #e7e7e7

// rest of whites:
$app_white: #f5f6f7
$dark_white: #eff5fc
$off_white: #fbfbfd

// trans:
$dark_trans: #575e6344
$white_trans: #f5f6f733
$white_trans-grad: linear-gradient(45deg, #ffffffde, #ffffff5e)
$dark_trans-grad: linear-gradient(45deg, #000000d8, #0000004b)
