@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_mixins.util'

.prod-smart-card
    border: 1px solid $alt_dark-4
    border-radius: 3px
    display: flex
    align-items: flex-start
    padding: 0.5rem !important
    .prod-cover
        height: 100%
        padding: 0 !important
        img
            height: inherit
            border-left: none

    .prod-info
        color: $app_gray-2
        margin-left: 1rem
        padding-top: 1rem
        p
            display: -webkit-box
            margin: 0 !important
            -webkit-box-orient: vertical
            overflow: hidden
            -webkit-line-clamp: 3

@media screen and (max-width: 769px)
    .prod-smart-card
        .prod-info
            p
                -webkit-line-clamp: 2
