@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_fonts.util'
@import '../../../common/styles/utils/_mixins.util'

.input-wrapper
  width: 100%
  margin: 1.1rem 0
  label
    margin-bottom: 0.3rem
    display: block
    font-weight: bold
    font-size: 0.9rem
    padding-left: 0.2rem
  input,
  textarea
    height: 3rem
    display: block
    width: inherit
    font-size: 1rem
    border: 1px solid $alt_dark-5
    padding-left: 1.5rem
    border-radius: 3px
  textarea
    border-radius: 3px
    min-height: 10rem
  .the-input
    width: inherit
    height: inherit
    position: relative
    text-align: left
    span.input-icon
      @include flex_positioning($ai: center, $jc: center)
      color: $alt_dark-3
      position: absolute
      top: 1px
      bottom: 1px
      left: 1px
      font-size: 1.2rem
      width: 2.5rem
      background: $dark_white
      border-radius: 0
      border-top-left-radius: 3px
      border-bottom-left-radius: 3px
  small
    padding-left: 0.2rem
