@import '../../common/styles/utils/_colors.util'
@import '../../common/styles/utils/_mixins.util'

main.product-viewer-page
    .page-wrapper
        padding-top: 1rem
        display: grid
        grid-gap: 1.5rem
        grid-template-columns: 5fr 1.2fr
        article
            border-radius: 3px
