@import '../../../../common/styles/utils/_mixins.util'
@import '../../../../common/styles/utils/_colors.util'
@import '../../../../common/styles/utils/_animation.util'

header.after-header
  height: 2.2rem
  background: $main_white
  border-bottom: 1px solid $alt_dark-4
  border-top: 1px solid $alt_dark-4
  z-index: 15
  right: 0
  left: 0
  top: 0
  padding: 0 !important
  a
    color: $app_gray
  .after-header-wrapper
    height: 100%
    @include flex_positioning(center, space-between)
    section
      height: inherit
      flex-grow: 1
      &.left-wing
        position: relative
        @include flex_positioning(center, flex-start)
        width: 100%
        > button
          @include flex_positioning(center, space-between)
          padding: 0
          height: inherit
          border: none
          margin-right: 3rem
          border-bottom: 2px solid transparent
          color: $app_gray
          font-size: 0.9rem
          background: none
          border-right: 1px solid $alt_dark-4
          padding-right: 0.5rem
          padding-left: 0.5rem
          border-top-right-radius: 0
          border-bottom-right-radius: 0
          &:hover
            background: $dark_white
          span
            &.txt
              text-transform: capitalize
            &.icon
              display: inline-block
              margin-top: 0.3rem
              font-size: 1rem
              margin-left: 0.5rem
              &.icon-down
                @include from-bottom
              &.icon-up
                @include from-top
        .links-wrapper
          a
            margin: 0 0.8rem
            height: inherit
            margin-top: 0.1rem
            font-size: 0.8rem
            text-transform: capitalize
      &.right-wing
        width: 40%
        @include flex_positioning(center,flex-end)
        padding-right: 0.4rem
        .cart-info-wrapper
          height: inherit
          min-width: 10rem
          @include flex_positioning(center,flex-end)
          span
            &.cart-total,
            &.cart-count
              font-weight: bold
            &.cart-total
              margin-right: 1.5rem
            &.cart-count
              width: 1.3rem
              height: 1.3rem
              border-radius: 50%
              font-size: 0.9rem
              padding: 0.1rem
              @include flex_positioning($ai: center, $jc: center)
          > div
            @include flex_positioning(center, flex-end)
            a
              @include flex_positioning(center, flex-end)
              margin: 0 0.5rem
              font-size: 1.5rem
              position: relative
              &:hover
                color: $additional_clr-1 !important
              &:before
                content: ''
                background: $alt_dark-4
                position: absolute
                width: 1px
                height: 1.3rem
                left: -10px
                top: 1px
