@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_mixins.util'

article.prod-more-info
    min-height: 50rem
    margin-top: 2rem
    background: $main_white
    padding: 1rem
    header
        width: 100%
        @include flex_positioning(center, space-between)
        border-bottom: 1px solid $alt_dark-4
        section.tabs-wrapper
            display: flex
            button
                height: 3.2rem
                border: 1px solid $alt_dark-4
                position: relative
                border-radius: 3px
                border-bottom-right-radius: 0
                border-bottom-left-radius: 0
                padding: 0.5rem 1rem
                font-weight: bold
                font-size: 1rem
                margin: 0 2px -1px 0
                &:hover
                    background: $main_white
                    color: $main_clr-1 !important
                &:first-of-type
                &:last-of-type
                &:not(:first-of-type)
                    margin-left: 0.1rem
    header.more-info-switcher
        section
            flex-grow: 1
            &.tabs-wrapper
            &.show-albums-and-report-wrapper
                @include flex_positioning(center, flex-end)
                button
                    margin-right: 0.5rem
                    span.icon
                        color: $alt_dark-6
                a
                    font-size: 0.8rem
    article.details-wrapper
        padding: 0.5rem
        section
            h3.heading,
            h4.heading
                margin-top: 0.8rem
                border-bottom: 1px dotted $light_gray
                padding-bottom: 0.3rem
            h4.heading
                text-transform: uppercase
                padding-top: 0.3rem
            &.prod-full-width-imgs
                margin-top: 3rem
                > div
                    margin: 1rem 0

@media (max-width: 992px)
    article.prod-more-info
        padding: 0.5rem
        section.show-albums-and-report-wrapper
            display: none !important

@media (max-width: 769px)
    article.prod-more-info
        header
            display: block
            section.tabs-wrapper
                justify-content: space-between
                button
                    flex-grow: 1
                    font-size: 0.9rem
