@import '../../../common/styles/utils/_colors.util'
@import '../../../common/styles/utils/_mixins.util'

article.prod-more-info
    min-height: 50rem
    margin-top: 2rem
    background: $app_white
    header.more-info-switcher
        @include flex_positioning(center, space-between)
        border-bottom: 1px solid $alt_dark-4
        section
            flex-grow: 1
            &.tabs-wrapper
                button
                    height: 3.5rem
                    border: 1px solid $alt_dark-4
                    position: relative
                    border-radius: 6px
                    border-bottom-right-radius: 0
                    border-bottom-left-radius: 0
                    padding: 1rem
                    font-weight: bold
                    font-size: 1rem
                    &:hover
                        background: $app_white
                        color: $app_gray
                    &:first-of-type
                    &:last-of-type
                    &:not(:first-of-type)
                        margin-left: 0.1rem
            &.show-albums-and-report-wrapper
                @include flex_positioning(center, flex-end)
                button
                    margin-right: 0.5rem
                    span.icon
                        color: $alt_dark-6
                a
                    font-size: 0.8rem
    article.details-wrapper
        padding: 0.5rem
        section
            h3.heading,
            h4.heading
                margin-top: 0.8rem
                border-bottom: 1px dotted $light_gray
                padding-bottom: 0.3rem
            h4.heading
                text-transform: uppercase
                padding-top: 0.3rem
            &.prod-full-width-imgs
                margin-top: 3rem
